.grid {
  width: 100%;

  &__row {
    display: flex;

    &--heading {
      background: rgba(black, 0.2);
      font-weight: bold;
    }

    &:nth-of-type(odd):not(:first-child), &:first-child:not(&--heading) {
      background: rgba(black, 0.05);
    }

  }

  &__column {
    flex: 1;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--clickable {
      cursor: pointer;
    }
  }
}
