$main-theme-color: #673ab7;
$font-size: 14px;
$font-size-big: 26px;
$pink-color: rgba(249, 36, 43, 0.6);
$green-color: rgba(17, 128, 48, 0.65);
$yellow-color: rgba(222, 213, 0, 0.69);
$gray-color: #dcdcdc;
$light-gray-color: #f1f0f0;
$dark-gray-color: #a9a9a9;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #ff0000;

$material-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
